<%inherit file="/base.html"/>

<script src="${STATIC_URL}client/controllers/home.js" type="text/javascript"></script>
<script src="${STATIC_URL}client/controllers/site.js" type="text/javascript"></script>

<!--图表控件-->
<script type="text/javascript" src="${STATIC_URL}js/highcharts/highcharts.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/highcharts/highcharts-3d.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/highcharts/exporting.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/highcharts/highcharts-more.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/highcharts/solid-gauge.js"></script>


<script src="${STATIC_URL}client/controllers/test/add_ip.js" type="text/javascript"></script>
<script src="${STATIC_URL}client/controllers/test/monitor.js" type="text/javascript"></script>

